<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="d-flex flex-column flex-md-row justify-content-between align-items-center p-3 px-md-4 bg-secondary">
      <a class="navbar-brand" href="#">
    <img src="https://hexschool.github.io/webLayoutTraining1st/week3/logo.png"alt="">
  </a>
      <nav class="my-2 my-md-0 mr-md-3 ">
        <a class="p-2 text-white" href="#">系列鏡框</a>
        <a class="p-2 text-white" href="#">門市據點</a>
        <a class="p-2 text-white" href="#">部落格</a>
        <a class="p-2 text-white" href="#">常見問題</a>
      </nav>
    </nav>


    <%- contents %>

    <footer class="footer">
      footer
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>